body {
    background: #ffffff;
    scroll-behavior: smooth;
}

nav {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.book-collection {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-item {
    display: flex;
    width: 86%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px;
    gap: 50px;
    padding: 40px 0;
}

.book {
    max-width: 300px;
    min-width: 250px;
    filter: drop-shadow(2px 2px 5px #222222);
    transition: all 1s;
}

.book-div {
    overflow: hidden;
}

.book:hover {
    scale: 1.1;
}

.book.smallest {
    filter: none;
    min-width: 400px;
}

.book-text {
    flex: 1;
    max-width: 700px;
}

.book-title {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

.book-price {
    font-size: 20px;
    font-weight: bold;
    color: #118C4F;
}

.purchase-btn {
    padding: 10px 15px;
    color: #ffffff;
    background-color: #2563EB;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    margin-top: 5px;
    transition: all 0.3s;
}

.purchase-btn:hover {
    opacity: 0.85;
}

.purchase-btn:active {
    scale: 0.9;
    opacity: 0.75;
}

@media (max-width: 786px){
    .book-item {
        width: 90%;
        gap: 25px;
    }

    .book-title, .book-price {
        font-size: 18px;
    }

    .book {
        max-width: 250px;
        min-width: 120px;
    }

    .book.smallest {
        min-width: 270px;
    }

    .purchase-btn{
        margin-bottom: 10px;
        padding: 8px 12px;
    }
}

@media (max-width: 486px){
    .book {
        max-width: 150px;
        min-width: 100px;
    }

    .book.smallest {
        min-width: 120px;
    }
}